<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static 'homestyle.css' %}"> 
    <style type="text/css">
    .day{
        height: 150px;
        width: 150px;
        border: 2px solid black;
        display: inline-block;
        margin: 2px;
        margin-left: -2px;
        text-align: center;
        vertical-align: top;
        background-color: #7bcadaa3;
    }
    .calendar{
        text-align: left;
        vertical-align: top;
        width: 1080px;
    }
	</style>
</head>
<body>
	<div class="container">

		<div class="navbar">
	        <a href="/home" class="green">Home</a> | <a href="/group/add" class="red">Create Group</a> | <a href="/mylist" class="green">My Wish List</a> | <a href="/calendar/{{request.session.id}}" class="red">My Calendar</a> | <a href="/logout" class="green">Logout</a>
	    </div>

        <h1>Welcome to your Calendar, {{request.session.name}}</h1>
            <div class="calendar">
            {% for i in iterations %}
            <div class="day"></div>
            {% endfor %}
            {% for i, j in dates.datedays %}
            <div class="day">
                <p>{{i}}</p>
                {% for k in myevents %}
                    {% if k.date == i %}
                    <a class="black" href="/group/{{k.groupid.id}}/events/{{k.id}}">{{k.event_name}}</a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
	</div>
</body>
</html>