.wish, .events, .groups{
	display: inline-block;
	vertical-align: top;
}
.inline{
	display: inline-block;
}
.events{
	margin-right: 200px;
	margin-left: 200px;

}
.events, .wish, .groups{
	margin-top: 100px;
}
.container{
	text-align: center;

}
h1, .red{
	color: red;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h3, .green, .untaken{
	color: green;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body { 
	background: url('snow.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.navbar{
	margin-bottom: 50px;
}
span{
	font-weight: bold;
}
.remove{
	color: red;
}

.top, .welcome, h4, .reg{
	margin-top: 50px;
}

.spacer{
	display: inline-block;
	width: 150px;
}
.black{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.taken{
    text-decoration: line-through;
    color: red;
}
.untaken{
	font-size: 20px;
}
.got{
	font-size: 12px;
	color: red;
}
.infobox{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 300px;
}
.info{
	font-weight: bold;
}


