.wish, .events, .groups{
	display: inline-block;
	vertical-align: top;
}
.inline{
	display: inline-block;
}
.events{
	margin-right: 200px;
	margin-left: 200px;

}
.events, .wish, .groups{
	margin-top: 100px;
}
.container{
	text-align: center;

}
h1, .red{
	color: red;
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 2px black;
}
h3, .green, .untaken, .list-group-item{
	color: green;
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 2px black;
}
body { 
	background: url('snow.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.navbar{
	margin-bottom: 50px;
}
span{
	font-weight: bold;
}
.remove{
	color: red;
}

.top, .welcome, h4, .reg{
	margin-top: 50px;
}

.spacer{
	display: inline-block;
	width: 150px;
}
.black{
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}
.taken{
    text-decoration: line-through;
    color: red;
}
.untaken{
	font-size: 20px;
}
.got{
	font-size: 12px;
	color: red;
}
.infobox{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 300px;
}
.info{
	font-weight: bold;
}
textarea{
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(111,135,173,0.5));
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 20px;
	box-shadow: 5px 5px 8px grey;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	caret-color: black;
	padding: 5px;
}
.textinputeffects{
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(111,135,173,0.5));
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 10px;
	box-shadow: 3px 3px 8px grey;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	caret-color: black;
	padding: 5px;
}
.submiteffects{
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(111,135,173,0.5));
	background-color: transparent;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 8px grey;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}
.submiteffects:hover{
	box-shadow: 6px 6px 16px grey;
}
input:focus{
	outline:none;
}
textarea:focus{
	outline:none;
}
.textinputeffects:-webkit-autofill {
    -webkit-text-fill-color: white;
}
.checkbox{
	height: 20px;
	width: 20px;
}
.pmessages{
	height: 200px;
	width: 500px;
	word-wrap: break-word;
	display: inline-block;
	overflow: scroll;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 10px;
	overflow-x: hidden;
}
.messageborder{
	border: 1px solid black;
	border-radius: 10px;
	background-color: #2a601f5c;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}