<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
<style>
    .list-group2{
        margin: 0px;
        padding: 0px;

        width: 400px;
        display: inline-block;
    }
    .list-group1{
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/home" class="green">Home</a> | <a href="/group/add" class="red">Create Group</a> | <a href="/mylist" class="green">My Wish List</a> | <a href="/calendar/userid" class="red">My Calendar</a> | <a href="/logout" class="green">Logout</a>
        </div>

        <h1>Edit the {{group_name}} group here, {{request.session.name}}</h1>
        <div class="list-group1">
            <ul class="list-group2">
                {% if request.session.id == groupowner %}
                <a class="green" href="/group/{{groupid}}/delete">Delete Group</a>
                <a class="red" href="/group/{{groupid}}">Stop Editing</a>
                {% endif %}
                {% for i in userlist %}
                <li class="list-group-item">{{i.first_name}} {{i.last_name}} <a href="/group/{{groupid}}/{{i.id}}"></a><a class="red" href="/group/{{groupid}}/{{i.id}}/remove/">Remove</a></li>
                {% endfor %}
            </ul>
          </div>
          <div class="list-group1">
            {% for j in eventlist %}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{j.event_name}}</h5>
                    <small>{{j.date}} {{j.time}}</small>
                  </div>
                  <p class="mb-1">{{j.desc}}</p>
                  <a href="group/{{groupid}}/events/{{j.id}}/edit">Edit</a><a href="group/{{groupid}}/events/{{j.id}}/delete/">Delete</a>
                  <small><a href="group/{{groupid}}/events/{{j.id}}"></a></small>
                </a>
            {% endfor %}
              </div>
	</div>
</body>
</html>