<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    {% load static %}
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">

</head>
<body>
    <div class="container">
        <div class="container">
        <div class="navbar">
            <a href="/home" class="green">Home</a> | <a href="/group/add" class="red">Create Group</a> | <a href="/mylist" class="green">My Wish List</a> | <a href="/calendar/{{request.session.id}}" class="red">My Calendar</a> | <a href="/logout" class="green">Logout</a>
        </div>

        <h1>You are on {{this_user.first_name}}'s page</h1>
        <p class="black">Username: {{this_user.user_name}}</p>
        <p class="black">First Name: {{this_user.first_name}}</p>
        <p class="black">Last Name: {{this_user.last_name}}</p>
        <p class="black">Email: {{this_user.email}}</p>
        <h3 class="green">Wishlist:</h3>
        {% for i in wishlist %}
        {% if i.taken == False %}
        <p class="untaken">{{i.item}} <a class="got" href="/group/{{groupid}}/{{userid}}/take/{{i.id}}">I got this!</a></p>
        {% endif %}
        {% endfor %}
        {% for j in wishlist %}
        {% if j.taken == True %}
        <p class="taken">{{j.item}}</p>
        {% endif %}
        {% endfor %}
        <br>
        <a href="/group/{{groupid}}">Back to Group</a>
	</div>
</body>
</html>