<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="navbar navbar-expand-lg navbar-light bg-light">
	        <a href="/home" class="topbarbutton">Home</a> | <a href="/group/add" class="topbarbutton">Create Group</a> | <a href="/mywish" class="topbarbutton">My Wish List</a> | <a href="/calendar/userid" class="topbarbutton">My Calendar</a> | <a href="/logout" class="topbarbutton">Logout</a>
	    </div>

		<h1>You are on the add event page, {{request.session.name}}</h1>
		<form action="/group/{{groupid}}/events/create" method="post">
		{% csrf_token %}
		<p>Name:</p>
		<input type="text" name="eventname">
		<p>Date:</p>
		<input type="date" name="eventdate">
		<p>Time:</p>
		<input type="time" name="eventtime">
		<p>Description:</p>
		<textarea name="eventdesc" cols="30" rows="10"></textarea>
		<br>
		<label for="hasfood">Are people bringing food?</label>
		<input type="checkbox" name="hasfood">
		<br>
		<input type="submit" value="Create Event">
		</form>
	{% if messages %}
    	{% for message in messages %}
        	<p class="message">{{ message }}</p>
    	{% endfor %}
	{% endif %}
	</div>
</body>
</html>